{% extends "linglab/index.html" %}
{% load i18n %}

{% block meta_title %}{{ person.first_name }} {{ person.last_name }}{% endblock %}
{% block title %}{{ person.first_name }} {{ person.last_name }}{% endblock %}

{% block main %}
<div>
{% if person.picture %}
<img src="{{person.picture.url}}" style="float: left; padding: 0 10px 10px 0;">
{% endif %}
<span><strong>{{ person.first_name }} {{ person.last_name }}</strong></span><br>
<span><strong>{{ person.position }}</strong></span><br>
<span><a href="{{ person.email }}">{{ person.email }}</a></span>
</div>
<br clear="left" /> 
<div>{% if person.research_interests %}
<h3>Research interests</h3>
<p>{{person.research_interests}}</p>
{% endif %}
</div>

<div>{% regroup person.publication_set.all by year as year_pubs %}
{% include "lab/publication_list.html"%}
</div>

<div>{% regroup person.presentation_set.all by year as year_pres %}
{% include "lab/presentation_list.html"%}
</div>

{% endblock %}
