{% extends "linglab/index.html" %}
{% load i18n %}

{% block meta_title %}{{ person.first_name }} {{ person.last_name }}{% endblock %}
{% block title %}{{ person.first_name }} {{ person.last_name }}{% endblock %}

{% block main %}
<div>
{% if person.picture %}
<img src="{{person.picture.url}}" style="float: left; padding: 0 10px 10px 0;">
{% endif %}
<span><strong>{{ person.first_name }} {{ person.last_name }}</strong></span><br>
<span><strong>{{ person.position }}</strong></span><br>
<span><a href="{{ person.email }}">{{ person.email }}</a></span>
</div>

<div>{% if person.research_interests %}
<h3>Research interests</h3>
<p>{{person.research_interests}}</p>
{% endif %}
</div>

<div>{% regroup person.publication_set.all by year as year_list %}
<ul>
{% for y in year_list %}
	<li><strong>{{ y.grouper }}</strong></li>
	<ul>
	{% for pub in y.list %}
		<li>
		{{ pub.get_author_string }} ({{ pub.year }}). {{ pub.title }}.  <em>{{ pub.journal }}</em>, {{ pub.volume }}, {{ pub.number }}, {{ pub.pages }}.
		</li>
	{% endfor %}
    </ul>
{% endfor %}
</ul></div>

{% endblock %}
