{% extends "linglab/index.html" %}
{% load i18n future %}

{% block meta_title %}{% trans "People" %}{% endblock %}
{% block title %}{% trans "People" %}{% endblock %}

{% block breadcrumb_menu %}
<li><a href="{% url "home" %}">{% trans "Home" %}</a></li>
        <span class="divider">/</span>
<li class="active">{% trans "People" %}</li>
{% endblock %}

{% block main %}
<h3>Lab members</h3>
{% regroup members by position as pos_list %}
<ul>
{% for p in pos_list %}
    <li><strong>{{ p.grouper }}s</strong></li>
    <ul>
    {% for person in p.list %}
        <li>
        <a href= "{% url "lab.views.member" person.id %}">{{ person.first_name }} {{ person.last_name }}</a>
        </li>
    {% endfor %}
    </ul>
{% endfor %}
</ul>
{% if collabs %}
<h3>Friends of the lab</h3>
<ul>
{% for c in collabs %}
<li>
{% if c.link %}<a href="{{c.link}}">{{c.first_name}} {{c.last_name}}</a>
{% else %} <span>{{c.first_name}} {{c.last_name}}</span>
{% endif %}
</li>
{% endfor %}
</ul>
{% endif %}
{% endblock %}
