{% load i18n future %}
{% if year_pres %}
<h3>Presentations</h3>
<ul>
{% for y in year_pres %}
    <li><strong>{{ y.grouper }}</strong></li>
    <ul>
    {% for pres in y.list %}
        <li>
        {{ pres.get_author_string }} ({{ pres.year }}). {{ pres.title }}.  <em>{{ pres.conference }}</em>, {{ pres.location }}. (<a href="{% url 'lab.views.presentation_bibtex' pres.id %}">bibtex</a>{% if pres.pdf %}|<a href="{{ pres.pdf.url }}">pdf</a>{% endif %})
        </li>
    {% endfor %}
    </ul>
{% endfor %}
</ul>
{% endif %}
