{% extends "index.html" %}
{% load i18n %}

{% block meta_title %}{% trans "Presentations" %}{% endblock %}
{% block title %}{% trans "Presentations" %}{% endblock %}

{% block main %}

{% regroup presents by year as year_list %}
<ul>
{% for y in year_list %}
	<li><strong>{{ y.grouper }}</strong></li>
	<ul>
	{% for pres in y.list %}
		<li>
		{{ pres.get_author_string }} ({{ pres.year }}). {{ pres.title }}.  <em>{{ pres.conference }}</em>, {{ pres.location }}.
		</li>
	{% endfor %}
    </ul>
{% endfor %}
</ul>
{% endblock %}
