{% extends "base.html" %}
{% load i18n %}

{% block meta_title %}{% trans "Home" %}{% endblock %}
{% block title %}{% trans "Home" %}{% endblock %}

{% block breadcrumb_menu %}
<li class="active">{% trans "Home" %}</li>
{% endblock %}

{% block main %}
<p>Welcome to the Speech In Context Lab! SpeeCon [spikon] (I imagine a head shouting into a megaphone where a waveform comes out of the megaphone which says Speak On! (Too bad I'm not a good artist.))</p>

<p>The Speech in Context Lab is a dynamic research group that studies how language is perceived, processed, and produced. These topics interface with the particularly tricky puzzle of how language is cognitively represented. Most of our work examines spoken communication, and we define context rather broadly. In the SpeeCon lab, context involves any linguistic or paralinguistic aspect of the language scene which may affect the processing of spoken language. This includes social context, syntactic and semantic context, language environment, and talker variability to name just a few.</p>

<p>We hope you stick around and learn more about our lab!

(we can have a News/Update bit towards the bottom of the home page?)</p>
{% endblock %}
